@page "{questionId}"
@model Quanda.Pages_Questions.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@if (Model.Author != null)
{
    if (Model.Author.Id == Model.Question.AuthorId)
    {
        <div>
            <a class="btn btn-primary" asp-page="./Edit" asp-route-questionId="@Model.Question.QuestionId">Edit</a>
            <a class="btn btn-danger" asp-page="./Delete" asp-route-questionId="@Model.Question.QuestionId">Delete</a>
        </div>
    }
    
    <div>
        <a class="btn btn-success" asp-page="../Answers/Create" asp-route-questionId="@Model.Question.QuestionId">Answer This Question</a>
    </div>
}


<div>
    <b>Author:</b><br/>
    <span>@Model.Question.Author.UserName</span>
</div>

<div>
    <b>Title:</b><br/>
    <span>@Model.Question.QuestionTitle</span>
</div>

<div>
    <b>Description:</b><br/>
    <span>@Model.Question.QuestionText</span>
</div>

<div>
    <b>Created:</b><br/>
    <span>@Model.Question.Created.ToShortDateString() @Model.Question.Created.ToShortTimeString()</span>
</div>

<div>
    <b>Edited:</b><br/>
    <span>@Model.Question.Edited.ToShortDateString() @Model.Question.Edited.ToShortTimeString()</span>
</div>

@if (Model.Question.Answers.Count == 0)
{
    <div class="alert alert-info" role="alert">
        No answers found
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Upvotes</th>
                @if (Model.Author != null)
                {
                    <th scope="col"></th>
                }
                
            </tr>
        </thead>
        @foreach (var answer in Model.Question.Answers)
        {
            <tr>
                <td>@answer.AnswerText</td>
                <td>@answer.Ratings.Count.ToString()</td>
                @if (Model.Author != null)
                {
                    <td>
                        <a class="btn btn-primary" asp-page="../Answers/Rate" asp-route-answerId="@answer.AnswerId">
                            <svg class="bi bi-caret-up-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 00.753-1.659l-4.796-5.48a1 1 0 00-1.506 0z"/>
                            </svg>
                        </a>
                    </td>
                }
                
            </tr>
        }
    </table>
}